/* whole document css settings */
* {
  background-color: #000000;
}

/* buttons setup */

.button-green,
.button-red,
.button-yellow,
.button-blue {
  position: fixed;
  height: 40%;
  width: 45%;
  border-radius: 10px;
}

.button-green {
  background-color: #00ff00;
  bottom: 50%;
  right: 50%;
  box-shadow: inset 0 0 50px #aeffae;
}

.button-red {
  background-color: #ff0000;
  bottom: 50%;
  left: 50%;
  box-shadow: inset 0 0 50px #ffaeae;
}

.button-yellow {
  background-color: #ffff00;
  right: 50%;
  top: 50%;
  box-shadow: inset 0 0 50px #ffffae;
}

.button-blue {
  position: fixed;
  background-color: #0000ff;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 50px #aeaeff;
}

.center-circle {
  position: fixed;
  background-color: #252323;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -85px;
  border: 10px solid black;
  border-radius: 50%;
  box-shadow: inset 0 0 30px #5e5e5e;
}

@media (min-width: 1440px) {
  .button-green,
  .button-red,
  .button-yellow,
  .button-blue {
    height: 40%;
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .button-green,
  .button-red,
  .button-yellow,
  .button-blue {
    height: 40%;
    width: 40%;
  }
}

@media (max-width: 425px) {
  .center-circle {
    width: 100px;
    height: 100px;
    margin-top: -60px;
    margin-left: -50px;
  }
}
