/* ---------- Global CSS ---------- */
* {
  background-color: #000000;
}

/* ---------- Game Play Buttons setup ---------- */
.button-green,
.button-red,
.button-yellow,
.button-blue {
  position: fixed;
  height: 40%;
  width: 45%;
  border-radius: 10px;
  max-width: 460px;
  max-height: 460px;
}

.button-green {
  background-color: #00ff00;
  bottom: 50%;
  right: 50%;
  box-shadow: inset 0 0 50px #aeffae;
}

.button-red {
  background-color: #ff0000;
  bottom: 50%;
  left: 50%;
  box-shadow: inset 0 0 50px #ffaeae;
}

.button-yellow {
  background-color: #ffff00;
  right: 50%;
  top: 50%;
  box-shadow: inset 0 0 50px #ffffae;
}

.button-blue {
  position: fixed;
  background-color: #0000ff;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 50px #aeaeff;
}


/* hover over game buttons */
.game-button-hovered {
  box-shadow: inset 0 0 20px #000000;
}

/* game button pressed */
.game-button-pressed{
  transform: scale(0.95);
  
}

/* ----- The Center Game Circle ----- */
.center-circle {
  position: fixed;
  background-color: #252323;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -85px;
  border: 10px solid black;
  border-radius: 50%;
  box-shadow: inset 0 0 30px #5e5e5e;
}


/* ---------- Media Queries ---------- */

/* ----- Laptops and Tablets under 1440px ------ */

@media (max-width: 1440px) {
  /* resizing the play buttons */
  .button-green,
  .button-red,
  .button-yellow,
  .button-blue {
    height: 45%;
    width: 45%;
  }

  /* resizing center the circle */
  .center-circle {
    width: 120px;
    height: 120px;
    margin-top: -70px;
    margin-left: -70px;
  }
}

/* ---------- Mobile S-M-L => Portrait ---------- */

@media (max-width: 425px) {
  /* resizing the play buttons */
  .button-green,
  .button-red,
  .button-yellow,
  .button-blue {
    position: fixed;
    height: 50%;
    width: 50%;
    border-radius: 10px;
  }

  /* resizing center the circle */
  .center-circle {
    width: 100px;
    height: 100px;
    margin-top: -60px;
    margin-left: -50px;
  }
}

/* ---------- Mobile S-M-L => Landscape ---------- */

@media (max-height: 425px) {
  /* resizing the play buttons */
  .button-green,
  .button-red,
  .button-yellow,
  .button-blue {
    position: fixed;
    height: 50%;
    width: 50%;
    border-radius: 10px;
  }

  /* resizing center the circle */
  .center-circle {
    width: 100px;
    height: 100px;
    margin-top: -60px;
    margin-left: -50px;
  }
}
